.navbar{display: none;}
.menu-bars{display: none;}

.nav-menu{display: none;}


.jhghj{color: rgb(184, 179, 179);}



@media (max-width:1140px){
.navbar{display: flex; }
.nav-menu{display: block;}
.menu-bars{display: block;}

.menu-bars{background: none; font-size: 1.3rem; padding-left: .rem; color: black; position: relative; top:-13%; left: 10%;  }
.menu-bar1{background: none; font-size: 2.2rem; margin-left: rem; color: rgb(14, 14, 12);}
.menu-bar1:focus{color: rgb(34, 34, 55);}

.nav-menu{background-color: rgb(247, 243, 243); width: 300px; height: 100vh; display: flex; position: fixed; top: 0%; left: -100% ; transition: linear 1s; z-index: 999; }

.nav-menu.active{ left:0; transition: 1s;}

.nav-text{display: flex; justify-content: start; align-items: center; padding: 2rem; list-style: none; height: 60px; color: black; }

.link1{text-decoration: none; color: rgb(16, 15, 15); font-size: 1rem; display: flex; align-items: center; border-radius: 4px; padding: .3rem;  }

.link1:hover{background-color: rgb(23, 27, 30); color: rgb(236, 234, 234); text-decoration: none;}

.nav-menu-items{width: 100%; margin-left: 0%;}
.nav-menu-items li{list-style: none; }}

.navbar-toggle{width: 100%; height: 80px; display: flex; justify-content: start; align-items: center;}

span{margin-left: px;}
/* Add this CSS to your existing CSS file or create a new one */
.nav-menu-items hr {
    border: 0;
    border-top: 1px solid #ccc; /* Adjust the color and style as needed */
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  